*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    background: url(image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);

}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    text-decoration: none;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}
nav a:hover{
    background-color: #f0f0f0;
}
nav li:first-child{
    margin-right: auto;

}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;


}
.sidebar li{
    width: 100%;
}